* {
    box-sizing: border-box;
}

body {
    cursor: url(./mole-game/cursor.png), default;
    background-color: #c0c86d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    /* fit full page */
    height: 100vh;
    width: 100vw;
}

.bg {
    background-image: url(./mole-game/background.png);
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hole {
    background-color: black;
    filter: drop-shadow(0 0 0.75rem black);
    box-shadow: 10px 5px 5px #420 inset,
        0px 0px 0px 30px rgba(100, 50, 0, 0.4),
        0px 0px 0px 50px rgba(100, 10, 0, 0.2);
    border-radius: 50%;
    overflow: visible;
    width: 250px;
    height: 250px;
}

.hole-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.first {
    width: 30%;
}
.second {
    width: 25%;
}

.mole {
    position: relative;
    right: 40px;
}

.hungry {
    cursor: url(./mole-game/cursor-worm.png), default;
}

.gone,
.hide {
    display: none;
}

.win {
    height: 100vh;
}

/* Worm */
.worm {
    width: 1660px;
}

.worm-container {
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.worm-box {
    width: 1660px;
}
